body {
  background: #f1f5f9;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  padding: 40px;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  margin: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1, h2 {
  color: #0077b6;
}

input, select, button {
  margin: 8px;
  padding: 8px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background: #0077b6;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background: #005f8a;
}

a {
  text-decoration: none;
  color: #0077b6;
}
